
body         {background-color:#FF6600;
			  background-image:url(/img/orange-background1.jpg);
              color:#000000;
			  width:960px;
			  margin:auto;}
#header		{margin: auto;
			height: 200px;
			width:100%;
			position: relative;
}
#header img	{float:left; height:100%; width:35%; border:none;}	
#titlebox  {bottom: -30px;
			left: 350px;
			margin: 0;
			padding: 10px;
			position: absolute;
			width:422px;
			}			
.clear		{clear:both;
}
#navigation {width:126px;
			float:left;
			background-color:#ff6600;}
#navigation a	{border: solid 5px black;
				border-top: none;
			 padding: 5px;
			 display:block;
			 text-decoration: none;
			 color:#653366;
			 font-weight:bold;}
h1, h2      {color:#653366;
			  border:double 5px #ff6600;
			  background-color:#653366;
			  background-image:url(/img/texture_orange_3228.jpg);
			  font-family:Century, Garamond;
              text-align:center;
			  padding:10px;}
p           {color:#000000;}
#maincontent {background-color:#FFE479;
			  font-family:Georgia;
			  font-size:small;
              color:#000000;
			  width:600px;
			  margin: 0 auto 0 auto; 
			  margin-bottom: 10px;
			  margin-top: 30px;
              padding:10px 20px 10px 20px;
              border:double 5px #EE7600;}
.onepointfivespacing {line-height: 150%;}
.rightblock  {width:290px;
              float:right;
              margin-top:10px;
              margin-right:10px;}
.rightblock img {width:100%;}
.leftblock   {width:290px;
              float:left;
              margin-top:10px;
              margin-left:10px;}
.lefblock img {width:100%;}
#copyright{margin: 0 auto 0 auto; 
				text-align:center;
				 width:700px;}
.purpletext {font-family:Georgia;
				font-size:small;
				color:#653366;}
.underline {text-decoration: underline;}
.thejustified{text-align:justify;}
.theright{text-align:right;}
#linkbar{text-align:center;}
#linkbar a {text-decoration:none;
		font-size:small;
		padding-right:10px;}
table { border:double 5px #653366;
	border-collapse:collapse;
	margin-top:50px;
	margin-bottom:50px;}
td img {width:150px;
		text-align:center;
		margin:10px;
		display:block;}
td {padding:10px;
  border-bottom:double 5px #653366;
  border-spacing:0;
  border-collapse:collapse;}
.boxlist {list-style-type: square;}
.center {text-align:center;}
.nobot{border-bottom:0;}
.notop{border-top:0;}
.nobotpad{padding-left:150px;
			border-bottom:0;}
.pad {padding-left:150px;}