extends base.jade

block titlebox
    | Welcome to Tic Tac Two!

block content
    | Welcome to the home of Tic Tac Two! If you've got a friend at the computer with you, play hotseat. Hotseat does not require login. 
    br
    br
    | If you want to host a game for a friend, login and then Host or Join a game. Rules can be found in game, or in the About page.
    br
    br
    | To view your win/loss records, or those of another player, login and use the "Check Records" page.
    br
    br
    hr
