extends base.jade

block content
    | Welcome to the home of Tic Tac Two! If you've got a friend at the computer with you, play hotseat. Hotseat does not require login.If you want to host a game for a friend, login '
    br
    br
    hr