extends base.jade

block titlebox
    | Hope you brought a friend: It's Hotseat Multiplayer!

block content
    form(name="game", style="text-align:center")
        table(border="0")
            td
                table.game
                    tr
                        td
                            img(src="/img/blank.jpg", border="0", height="100", width="100", data-name="0", alt="Top-Left")
                        td
                            img(src="/img/blank.jpg", border="0", height="100", width="100", data-name="1", alt="Top-Center")
                        td
                            img(src="/img/blank.jpg", border="0", height="100", width="100", data-name="2", alt="Top-Right")

                    tr
                        td
                            img(src="/img/blank.jpg", border="0", height="100", width="100", data-name="3", alt="Middle-Left")
                        td
                            img(src="/img/blank.jpg", border="0", height="100", width="100", data-name="4", alt="Middle-Center")
                        td
                            img(src="/img/blank.jpg", border="0", height="100", width="100", data-name="5", alt="Middle-Right")

                    tr
                        td
                            img(src="/img/blank.jpg", border="0", height="100", width="100", data-name="6", alt="Bottom-Left")
                        td
                            img(src="/img/blank.jpg", border="0", height="100", width="100", data-name="7", alt="Bottom-Center")
                        td
                            img(src="/img/blank.jpg", border="0", height="100", width="100", data-name="8", alt="Bottom-Right")

            td
                table
                    tr
                        td
                            span#p1-score 0
                            | &nbsp;wins
                        td#p1-name
                            input(type="text", size="12", name="p1", value="Player 1")
                    tr
                        td
                            span#p2-score 0
                            | &nbsp;wins
                        td#p2-name
                            input(type="text", size="12", name="p2", value="Player 2")

                button(type="button", name="replay") Play Again

                | &nbsp;&nbsp;

                button(type="button", name="help") Game Help

        #flash