extends base.jade

<?php
$database = new PDO ('mysql:host=160.153.72.35; dbname=VirtualEduactionDatabase; charset=utf8', 'Justin', 'Bathroom1!', array(PDO::ATTR_EMULATE_PREPARES => false, PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION));
$username = trim($ REQUEST['username']);
$password = trim($ REQUEST['password']);
$login = trim($ REQUEST['login']);
$register = trim($ REQUEST['register']);

if(isset($ POST['register'])){
    if(!filled_out($ POST))
    echo 'Please enter username and password.';
    else {
        ['username'] = $username;
        ['password'] = $password;
        $query = $database->prepare("INSERT INTO 'bobregister' (username, password) VALUES (?, ?)");
        try{
        $query->execute(array($username, $password));
        echo 'Registration successful';
        } catch PDOexception $e{
            echo 'An error occured! ' . $e->getMessage();
            return;
        }
    }
}

?>

block titlebox
    |Log in to Tic Tac Two!

block content
    p
        |If you already have an account, login with your username and password.
        
        |If you do not have an account, enter your desired username and password and click 'register'.

        #form1
            form(action="/login", method="post")
                table(width="100%")
                    tr
                        td.nobot
                            |Username:
                        td.nobot
                            input(type="text", size="40", maxlength="30", name="username")
                    tr
                        td.nobot
                            |Password:
                        td.nobot
                            input(type="password", size="40", maxlength="128", name="password")
                    tr
                        td.nobotpad
                            input(type="submit", value="Login", name="login")
                        td.nobot
                            input(type="submit", value="Register", name="register")
                    if flash
                        tr(colspan="2")
                            td#error=flash
        #clear