extends base.jade

block titlebox
    | It's Web 3.0! Playing TicTacTwo Online!

block content
    center
        form(name="game")
            table(border="0")
                td
                    table.game
                        tr
                            td
                                a(href="javascript:play('A')")
                                    img(src="/img/blank.jpg", border="0", height="100", width="100", name="A", alt="Top-Left")
                            td
                                a(href="javascript:play('B')")
                                    img(src="/img/blank.jpg", border="0", height="100", width="100", name="B", alt="Top-Center")
                            td
                                a(href="javascript:play('C')")
                                    img(src="/img/blank.jpg", border="0", height="100", width="100", name="C", alt="Top-Right")

                        tr
                            td
                                a(href="javascript:play('D')")
                                    img(src="/img/blank.jpg", border="0", height="100", width="100", name="D", alt="Middle-Left")
                            td
                                a(href="javascript:play('E')")
                                    img(src="/img/blank.jpg", border="0", height="100", width="100", name="E", alt="Middle-Center")
                            td
                                a(href="javascript:play('F')")
                                    img(src="/img/blank.jpg", border="0", height="100", width="100", name="F", alt="Middle-Right")

                        tr
                            td
                                a(href="javascript:play('G')")
                                    img(src="/img/blank.jpg", border="0", height="100", width="100", name="G", alt="Bottom-Left")
                            td
                                a(href="javascript:play('H')")
                                    img(src="/img/blank.jpg", border="0", height="100", width="100", name="H", alt="Bottom-Center")
                            td
                                a(href="javascript:play('I')")
                                    img(src="/img/blank.jpg", border="0", height="100", width="100", name="I", alt="Bottom-Right")

                td
                    table
                        tr
                            td
                                input(type="text", size="5", name="P1")
                            td#player1
                                | Player 1
                        tr
                            td
                                input(type="text", size="5", name="P2")
                            td#player2
                                | Player 2

                    input(type="button", value="Play Again", onclick="playAgain();")

                    | &nbsp;&nbsp;

                    input(type="button", value="Game Help", onclick="help();")

                    <!-- <input type=button value="Quit Game" onClick="quitGame();"> -->