extends base.jade

block titlebox
    | Playing TicTacTwo Online!

block content
    form(name="game", style="text-align:center")
        table(border="0")
            td
                table.game
                    tr
                        td
                            img(src="/img/blank.jpg", border="0", height="100", width="100", data-name="0", alt="Top-Left")
                        td
                            img(src="/img/blank.jpg", border="0", height="100", width="100", data-name="1", alt="Top-Center")
                        td
                            img(src="/img/blank.jpg", border="0", height="100", width="100", data-name="2", alt="Top-Right")

                    tr
                        td
                            img(src="/img/blank.jpg", border="0", height="100", width="100", data-name="3", alt="Middle-Left")
                        td
                            img(src="/img/blank.jpg", border="0", height="100", width="100", data-name="4", alt="Middle-Center")
                        td
                            img(src="/img/blank.jpg", border="0", height="100", width="100", data-name="5", alt="Middle-Right")

                    tr
                        td
                            img(src="/img/blank.jpg", border="0", height="100", width="100", data-name="6", alt="Bottom-Left")
                        td
                            img(src="/img/blank.jpg", border="0", height="100", width="100", data-name="7", alt="Bottom-Center")
                        td
                            img(src="/img/blank.jpg", border="0", height="100", width="100", data-name="8", alt="Bottom-Right")
                td
                    table
                        tr
                            td
                                input(type="text", size="5", name="P1")
                            td#player1
                                | Player 1
                        tr
                            td
                                input(type="text", size="5", name="P2")
                            td#player2
                                | Player 2

                    input(type="button", value="Play Again", onclick="playAgain();")

                    | &nbsp;&nbsp;

                    input(type="button", value="Game Help", onclick="help();")

                    <!-- <input type=button value="Quit Game" onClick="quitGame();"> -->
        #flash